<div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card" >
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Bluetooth</h2>
    </div>
    <div class="mdl-card__supporting-text">    
        <p>
            Bluetooth status:
        </p>
        <p>
        <button class="btn btn-lg btn-default" data-bind="click: $component.readBatteryLevel">
            Read Bluetooth device's<br>battery level</button>
        </p>
        
        <p id="target"></p>
    </div>
</div>