<div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card" >
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">AR-kit</h2>
    </div>
    <div class="mdl-card__supporting-text" >
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button-primary"
            href="/components/ar/ar-testpage.html" target="_blank">
            Open AR demo
        </a>
    </div>
    <div class="mdl-card__supporting-text" >
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button-primary"
            href="https://stemkoski.github.io/AR-Examples/video.html" target="_blank">
            Open video demo demo
        </a>
    </div>
    <div class="mdl-card__supporting-text" >
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button-primary"
            href="https://nexusinteractivearts.com/webar/ARte/" target="_blank">
            Open 3d model demo demo
        </a>
    </div>
</div>